/* line 11, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000311}}
body {
  background-color: #222;
  color: #ffffff;
  overflow: hidden;
}
/* line 16, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000316}}
a,
a:link,
a:visited,
a:active {
  color: #ffffff;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -ms-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
  text-decoration: none;
}
/* line 21, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000321}}
a:hover {
  color: #f0d4bb;
  text-decoration: none;
}
/* line 25, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000325}}
.bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 38, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000338}}
.overlay {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 1;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
/* line 48, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000348}}
.overlay.loaded {
  opacity: 0.4;
}
/* line 52, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000352}}
.overlay-fuzz {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: url(../images/fuzz1.gif);
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
/* line 62, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000362}}
.overlay-fuzz.loaded {
  opacity: 0.14;
}
/* line 66, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000366}}
.home {
  z-index: 0;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 100%;
  height: 100%;
  font-family: 'Oswald', sans-serif;
}
/* line 74, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000374}}
.home h1 {
  font-size: 200px;
  line-height: 170px;
}
/* line 78, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000378}}
.home h2 {
  margin-top: 0px;
  font-size: 28px;
  line-height: 37px;
  margin-bottom: 5px;
}
/* line 84, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000384}}
.home ul {
  padding: 0 0 0 10px;
  letter-spacing: 2.5px;
  font-size: 16px;
}
/* line 88, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000388}}
.home ul li {
  line-height: 22px;
  text-indent: 38px;
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}
@media (max-width: 500px) {
  /* line 96, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000396}}
  .home {
    top: 10%;
  }
  /* line 108, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003108}}
  .home h1 {
    font-size: 49px;
    line-height: 42px;
  }
  /* line 112, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003112}}
  .home h2 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 3px;
  }
  /* line 117, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003117}}
  .home ul {
    letter-spacing: 1.5px;
    font-size: 11px;
    margin-bottom: 2px;
  }
  /* line 121, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003121}}
  .home ul li {
    line-height: 15px;
  }
}
@media (max-width: 600px) {
  /* line 99, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\0000399}}
  .home {
    top: 10%;
  }
  /* line 108, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003108}}
  .home h1 {
    font-size: 49px;
    line-height: 42px;
  }
  /* line 112, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003112}}
  .home h2 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 3px;
  }
  /* line 117, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003117}}
  .home ul {
    letter-spacing: 1.5px;
    font-size: 11px;
    margin-bottom: 2px;
  }
  /* line 121, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003121}}
  .home ul li {
    line-height: 15px;
  }
}
@media (max-height: 700px) {
  /* line 102, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003102}}
  .home {
    top: 10%;
  }
  /* line 108, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003108}}
  .home h1 {
    font-size: 49px;
    line-height: 42px;
  }
  /* line 112, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003112}}
  .home h2 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 3px;
  }
  /* line 117, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003117}}
  .home ul {
    letter-spacing: 1.5px;
    font-size: 11px;
    margin-bottom: 2px;
  }
  /* line 121, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003121}}
  .home ul li {
    line-height: 15px;
  }
}
/* line 127, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003127}}
.cc-license {
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  padding: 0 20px;
}
/* line 138, F:\000\_github\x40-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003138}}
.cc-license a {
  text-decoration: underline;
}
@media (max-width: 600px) {
  /* line 141, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003141}}
  .cc-license {
    font-size: 11px;
  }
}
@media (max-height: 700px) {
  /* line 144, F:\000\_github\x40-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40-gh-pages\/less\/style\.less}line{font-family:\00003144}}
  .cc-license {
    font-size: 11px;
  }
}
