/* line 12, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000312}}
body {
  background-color: #222;
  color: #ffffff;
  overflow: hidden;
}
/* line 17, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000317}}
a,
a:link,
a:visited,
a:active {
  color: #ffffff;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -ms-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
  text-decoration: none;
}
/* line 22, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000322}}
a:hover {
  color: #dfdfff;
  text-decoration: none;
}
/* line 26, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000326}}
.bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 39, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000339}}
.overlay {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 49, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000349}}
.overlay.loaded {
  opacity: 0.4;
}
/* line 53, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000353}}
.overlay-fuzz {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: url(../images/fuzz1.gif);
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 63, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000363}}
.overlay-fuzz.loaded {
  opacity: 0.14;
}
/* line 67, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000367}}
.home {
  z-index: 0;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 100%;
  height: 100%;
  font-family: 'Oswald', sans-serif;
}
/* line 75, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000375}}
.home h1 {
  font-size: 200px;
  line-height: 170px;
}
/* line 79, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000379}}
.home h2 {
  margin-top: 0px;
  font-size: 28px;
  line-height: 37px;
  margin-bottom: 5px;
}
/* line 85, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000385}}
.home ul {
  padding: 0 0 0 10px;
  letter-spacing: 2.5px;
  font-size: 16px;
}
/* line 89, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000389}}
.home ul li {
  line-height: 22px;
  text-indent: 38px;
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}
@media (max-width: 500px) {
  /* line 97, F:\000\_github\x40design-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\0000397}}
  .home {
    top: 15%;
    left: 15%;
  }
  /* line 107, F:\000\_github\x40design-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\00003107}}
  .home h1 {
    font-size: 70px;
    line-height: 60px;
  }
}
@media (max-width: 600px) {
  /* line 100, F:\000\_github\x40design-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\00003100}}
  .home {
    top: 15%;
    left: 15%;
  }
  /* line 107, F:\000\_github\x40design-gh-pages\less\style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\00003107}}
  .home h1 {
    font-size: 70px;
    line-height: 60px;
  }
}
/* line 113, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\00003113}}
.cc-license {
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  padding: 0 20px;
}
/* line 124, F:\000\_github\x40design-gh-pages\less\style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/000\/_github\/x40design-gh-pages\/less\/style\.less}line{font-family:\00003124}}
.cc-license a {
  text-decoration: underline;
}
